<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Agenda</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/agenda">Gestion de Contactos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3>Listado de Contactos</h1>
                <!-- Buscador que permite buscar por apellido -->
                <form action="/agenda/buscar" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="txtbuscar" placeholder="Buscar por apellido"
                        id="txtbuscar" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
                    </div>
                </form>
                <div class = "table-respnsive py2">
                    <table class="table table-striped table-borderless">
                        <thead class="table-dark">
                            <tr>
                                <th></th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th>Fec. Nacimiento</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (contactos) { %>
                                <% contactos.forEach(contacto => { %>
                                    <tr>
                                        <td>
                                            <a href="<%= contacto.foto %>" target="_blank">
                                              <img src="<%= contacto.foto %>" alt="Foto de <%= contacto.nombre %>" class="img-fluid" width="100px">
                                            </a>
                                          </td>
                                        <td><%= contacto.nombre %></td>
                                        <td><%= contacto.apellidos %></td>
                                        <td><%= contacto.correo %></td>
                                        <td>
                                            <% 
                                              let fecha = new Date(contacto.fecha_nac);
                                            %>
                                            <%= fecha.toLocaleDateString('es-ES') %>
                                        </td>
                                        <td>
                                            <a href="/agenda/editar/<%= contacto.id %>" class="btn btn-warning">Editar</a>
                                            <a href="/agenda/eliminar/<%= contacto.id %>" class="btn btn-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>